body {
  position: relative;
}

.error {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: rgb(241, 127, 127);
}

header {
  position: absolute;
}

ul {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 20px;
}

li {
  margin: 20px 20px;
  text-align: center;
}

button {
  padding: 5px 10px;
  border: 1px solid white;
  width: 100%;
  font-size: 100%;
}

h1 {
  font-size: 200%;
  margin: 20px 20px;
}
h2 {
  color: rgb(218, 236, 254);
  font-size: 150%;
  margin: 20px 20px;
  display: inline;
}

p {
  line-height: 150%;
  margin: 20px 20px;
}

strong {
  color: rgb(218, 236, 254);
}

.red {
  color: rgb(252, 204, 204);
  border: 1px solid rgb(251, 119, 119);
}
.green {
  color: rgb(181, 250, 188);
  border: 1px solid rgb(98, 252, 67);
}
