body {
  position: relative;
}

ul {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 20px;
}

li {
  margin: 20px 20px;
  text-align: center;
}

button {
  padding: 5px 10px;
  border: 1px solid white;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
}

h1 {
  position: absolute;
  font-size: 24px;
  float: left;
  margin: 20px 20px;
}

p {
  position: absolute;
  float: left;
  font-size: 16px;
  top: 50px;
  margin: 20px 20px;
}

strong {
  color: rgb(218, 236, 254);
}
