body {
  position: relative;
}

.error {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  color: rgb(241, 127, 127);
}

header {
  position: absolute;
  margin: 0 20px 20px 20px;
}

ul {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 20px;
}

li {
  margin: 20px 20px;
  text-align: center;
}

button {
  padding: 5px 10px;
  border: 1px solid white;
  width: 100%;
  font-size: 100%;
}

#restart {
  border: 1px solid rgb(73, 51, 103);
}

h1 {
  height: auto;
  font-size: 200%;
  line-height: 200%;
}
h2 {
  color: rgb(195, 225, 255);
  font-size: 150%;
  margin: 1em 1em 1em 0;
  display: inline;
}

p {
  line-height: 150%;
  margin: 1em 0;
}

strong {
  color: rgb(195, 225, 255);
}

.red {
  color: rgb(252, 204, 204);
  border: 1px solid rgb(251, 119, 119);
}
.green {
  color: rgb(207, 251, 212);
  border: 1px solid rgb(98, 252, 67);
}
